@charset "UTF-8";
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
div {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Styles pour le footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
p {
  text-align: center;
}
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b;
}
.clientt {
  float: left;
  width: 50%;
}

.ticketts {
  float: right;
  width: 50%;
}
.ticket-filter {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajuste la marge selon tes besoins */
}

.ticket-filter span {
  margin-right: 10px; /* Ajuste l'espacement entre le texte et l'input selon tes besoins */
}

.ticket-filter input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  /* Ajoute d'autres styles de design au besoin */
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
h2 {
  font-size: 48px;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}
