<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Mentions Légales - ThéTipTop</title>
  </head>
  <body>
    <div class="container">
      <h1>Mentions Légales du Site du Jeu Concours ThéTipTop</h1>

      <h2>Éditeur du Site :</h2>
      <p>
        ThéTipTop SA, société anonyme au capital social de 150 000€, dont le
        siège social est situé au 18 rue Léon Frot, 75011 Paris, France.
        Immatriculée au Registre du commerce et des sociétés de Paris sous le
        numéro 123 456 789. TVA intracommunautaire : FR 00 123 456 789.
        Téléphone : 01 23 45 67 89. Courriel : contact@thetiptop.fr.
      </p>

      <h2>Directeur de la Publication :</h2>
      <p>Mr Eric Bourdon, en sa qualité de gérant.</p>

      <h2>Hébergement du Site :</h2>
      <p>
        L’hébergement du site est géré par WebHostGlobal, société à
        responsabilité limitée au capital de 500 000€, située au 10 rue des
        Internautes, 75015 Paris, France, et immatriculée sous le numéro 987 654
        321 au registre du commerce de Paris. Téléphone : 01 98 76 54 32. TVA
        intracommunautaire : FR 11 987 654 321.
      </p>

      <h2>Conditions d’Utilisation :</h2>
      <p>
        L’utilisation de ce site est réservée à un usage personnel et non
        commercial. Les informations fournies sur le site du jeu concours
        ThéTipTop sont destinées à faciliter, et non à remplacer, la relation
        directe entre les clients et ThéTipTop.
      </p>

      <h2>Propriété Intellectuelle :</h2>
      <p>
        Tous les contenus présents sur le site du jeu concours, y compris, sans
        limitation, les graphismes, images, textes, vidéos, animations, sons,
        logos, gifs et icônes ainsi que leur mise en forme sont la propriété
        exclusive de la société ThéTipTop à l'exception des marques, logos ou
        contenus appartenant à d'autres sociétés partenaires ou auteurs. Toute
        reproduction, distribution, modification, adaptation, retransmission ou
        publication, même partielle, de ces différents éléments est strictement
        interdite sans l'accord exprès par écrit de ThéTipTop.
      </p>

      <h2>Protection des Données Personnelles :</h2>
      <p>
        Le site respecte la vie privée de ses utilisateurs et se conforme aux
        lois en vigueur sur la protection de la vie privée et des libertés
        individuelles. Aucune information personnelle n'est collectée à votre
        insu, ni cédée à des tiers. Les utilisateurs disposent d'un droit
        d'accès, de rectification et d'opposition aux données personnelles les
        concernant, qu'ils peuvent exercer en s'adressant à
        contact@thetiptop.fr.
      </p>

      <h2>Limitation de Responsabilité :</h2>
      <p>
        ThéTipTop s’efforce d’assurer au mieux de ses possibilités, l’exactitude
        et la mise à jour des informations diffusées sur ce site, dont elle se
        réserve le droit de corriger, à tout moment et sans préavis, le contenu.
        Toutefois, ThéTipTop ne peut garantir l’exactitude, la précision ou
        l’exhaustivité des informations mises à disposition sur ce site.
      </p>

      <h2>Loi Applicable :</h2>
      <p>
        Les présentes mentions légales sont soumises au droit français. En cas
        de litige, les tribunaux français seront seuls compétents.
      </p>

      <h2>Modifications des Mentions Légales :</h2>
      <p>
        ThéTipTop se réserve le droit de modifier les présentes mentions à tout
        moment. Les utilisateurs seront informés de ces modifications par leur
        publication en ligne.
      </p>

      <h2>Contact :</h2>
      <p>
        Pour toute question relative aux présentes mentions légales ou à tout
        autre aspect du site, veuillez contacter contact@thetiptop.fr.
      </p>
    </div>
  </body>
</html>
