<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="concours de thé, jeu de thé, thé, concours"
    />
    <meta
      name="description"
      content="Participez à notre jeu de concours de thé pour gagner des cadeaux incroyables."
    />
    <title>The Tip Top</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light custom-bg fixed-top">
      <div class="container">
        <a class="navbar-brand custom-color">Jeu Concours de Thé</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link custom-color align-center" (click)="ondebut()"> <i class="material-icons">home</i>&nbsp;&nbsp;Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-color align-center" (click)="onLogin()"
                > <i class="material-icons">person</i>&nbsp;&nbsp;Se connecter</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link custom-color align-center" (click)="onRegister()"
                >  <i class="material-icons">person_add</i>&nbsp;&nbsp;Inscription</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="about-section">
      <div class="inner-container">
        <h1>A PROPOS</h1>
        <p class="text">
          Thetiptop est une entreprise française qui crée du thé 100% français.
          La marque a été créée par le producteur et vendeur de thé Michel
          Guichard, spécialisé dans la production de menthe poivrée. En plus de
          la production de plante, monsieur Guichard est également arboriculteur
          dans les fruits des bois. Avant de créer ThéTIPTOP, monsieur Guichard
          concevait du thé en vrac qu’il vendait dans les marchés et auprès des
          grands restaurants. En 2018, il a décidé de se lancer dans ce grand
          projet qu'est l’aventure ThéTIPTOP.
        </p>
        <div class="skills">
          <span>😍</span>
          <span>🫖</span>
          <span>❤️</span>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div class="container">
      <div class="footer-left">
        <p>&copy; 2023 Entreprise de ThéTopTop. Tous droits réservés.</p>
      </div>
      <div class="footer-right">
        <p>
          Politique de confidentialité | Mentions légales | Politique des
          cookies
        </p>
      </div>
    </div>
  </footer>
</html>
