<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Politique des Cookies - ThéTipTop</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light custom-bg">
    <div class="container">
      <a
        class="navbar-brand custom-color"
        style="color: #ffffff"
        href="/#/debut"
      >
        <img
          src="../../assets/cadeau/teaa.png"
          alt="Logo de thé "
          style="width: 40px; height: 40px; margin-right: 10px"
        />
        Thé Tip Top</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link custom-color align-center"
              style="cursor: pointer"
              (click)="onregl()"
              href="/#/regledejeux"
            >
              <i class="material-icons">description</i>&nbsp;&nbsp;Les règles du
              jeu</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link custom-color align-center"
              style="cursor: grab"
              (click)="onabout()"
              href="/#/aboutUS"
            >
              <i class="material-icons">info</i>&nbsp;&nbsp;À propos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link custom-color align-center"
              style="cursor: grab"
              (click)="onInsc()"
              href="/#/sign-up"
            >
              <i class="material-icons">person_add</i>&nbsp;&nbsp;Inscription</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link custom-color align-center"
              style="cursor: grab"
              (click)="onLog()"
              href="/#/login"
            >
              <i class="material-icons">person</i>&nbsp;&nbsp;Se connecter</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
    <div class="containera">
      <h1>Politique des Cookies - ThéTipTop</h1>

      <p>
        Cette politique des cookies explique ce que sont les cookies et comment
        nous les utilisons sur notre site. Vous devez lire cette politique pour
        comprendre quel type de cookies nous utilisons, les informations que
        nous collectons en utilisant les cookies et comment ces informations
        sont utilisées.
      </p>

      <h2>Que sont les cookies ?</h2>
      <p>
        Les cookies sont de petits fichiers texte qui sont placés sur votre
        ordinateur par les sites Web que vous visitez. Ils sont largement
        utilisés pour faire fonctionner les sites Web, ou pour les faire
        fonctionner plus efficacement, ainsi que pour fournir des informations
        aux propriétaires du site.
      </p>

      <h2>Comment utilisons-nous les cookies ?</h2>
      <p>
        Nous utilisons des cookies pour améliorer votre expérience sur notre
        site, par exemple en vous permettant de rester connecté ou en mémorisant
        vos préférences de jeu concours. Nous utilisons également des cookies
        pour analyser comment notre site est utilisé, ce qui nous aide à en
        améliorer la qualité.
      </p>

      <h2>Quels types de cookies utilisons-nous ?</h2>
      <ul>
        <li>
          <strong>Cookies nécessaires :</strong> Ces cookies sont essentiels
          pour vous permettre de naviguer sur le site et d'utiliser ses
          fonctionnalités.
        </li>
        <li>
          <strong>Cookies analytiques :</strong> Ces cookies nous aident à
          comprendre comment les visiteurs interagissent avec le site, en
          fournissant des informations sur les zones visitées, le temps passé
          sur le site et les problèmes rencontrés.
        </li>
        <li>
          <strong>Cookies fonctionnels :</strong> Ces cookies permettent au site
          de se souvenir des choix que vous faites (comme votre nom
          d'utilisateur, la langue ou la région où vous vous trouvez) et de
          fournir des fonctionnalités améliorées et plus personnelles.
        </li>
      </ul>

      <h2>Comment gérer les cookies ?</h2>
      <p>
        Vous pouvez contrôler et/ou supprimer les cookies comme vous le
        souhaitez. Pour plus d'informations, consultez aboutcookies.org. Vous
        pouvez supprimer tous les cookies qui se trouvent déjà sur votre
        ordinateur et vous pouvez configurer la plupart des navigateurs pour les
        empêcher d'être placés. Si vous faites cela, vous devrez peut-être
        ajuster manuellement certaines préférences chaque fois que vous
        visiterez un site et certains services et fonctionnalités peuvent ne pas
        fonctionner.
      </p>

      <h2>Consentement aux cookies</h2>
      <p>
        En utilisant notre site, vous consentez à l'utilisation des cookies
        conformément à cette politique des cookies.
      </p>

      <h2>Modifications de la politique des cookies</h2>
      <p>
        Nous pouvons mettre à jour cette politique des cookies de temps à autre.
        Nous vous encourageons à consulter régulièrement cette page pour vous
        tenir informé des mises à jour.
      </p>

      <h2>Contact</h2>
      <p>
        Pour toute question relative à cette politique des cookies, veuillez
        nous contacter à contact@thetiptop.fr
      </p>
    </div>
    <footer>
      <div class="container">
        <div class="footer-left">
          <p>&copy; 2023 Entreprise de ThéTopTop. Tous droits réservés.</p>
          <div class="links">
            <a href="/#/politique" class="btn-link" target="_blank"
              >Politique de confidentialité</a
            >
            |
            <a href="/#/mentionlegal" class="btn-link" target="_blank"
              >Mentions légales</a
            >
            |
            <a href="/#/cookies" class="btn-link" target="_blank"
              >Politique des cookies</a
            >
            |
            <a href="/#/reglement" class="btn-link" target="_blank"
              >Règlement</a
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
