@charset "UTF-8";
.custom-bg {
  background-color: #5e493a;
}
.align-center {
  display: flex;
  align-items: center;
}
.custom-color {
  color: white !important;
}
body {
  background: url('src/assets/cadeau/acceuila.webp');
  background-size: cover;
}

/* Hero section */
.hero {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-size: cover;
  color: #f8f4f0;
  text-align: center;
  padding: 2rem;
}

.hero h2 {
  font-size: 3rem;
  margin: 0;
}

.button {
  display: inline-block;
  background-color: #9b786f;
  color: #f8f4f0;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  width: 200px;
  margin-right: 5px;
  margin-left: 5px;
}

.button:hover {
  background-color: #725843;
}

footer {
  margin-top: 2rem;
  background-color: #5e493a;
  color: #ffffff;
  text-align: center;
  font-size: 0.5cm;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png')
    6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}
.loginBtnE {
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;

  border: none;
  text-align: left;
  line-height: 34px;
  border-radius: 0.2em;

  color: #fff;
}
.navbar {
  background-color: #0000001f; /* Couleur de fond de la barre de navigation */
  padding: 10px 0; /* Marge intérieure en haut et en bas */
  transition: background-color 0.3s; /* Transition de couleur fluide */
}
.carouselpr {
  margin-top: 20vh;
}

/* Style au survol */
.navbar:hover {
  background-color: #7f7f7f;
  /* Couleur au survol */
}
.nav-link:hover {
  color: #333;
}

/* Style pour le texte de la marque (navbar-brand) */
.navbar-brand {
  font-size: 24px; /* Taille de la police */
  font-weight: bold; /* Gras */
  color: #ffffff; /* Couleur du texte */
  text-transform: uppercase; /* Mettre le texte en majuscules */
}

/* Style pour les liens de la barre de navigation */
.navbar-nav .nav-link {
  cursor: grab;
  font-size: 16px; /* Taille de la police */
  color: #ffffff; /* Couleur du texte */
  margin-right: 20px; /* Marge à droite entre les éléments de la liste */
  text-transform: uppercase; /* Mettre le texte en majuscules */
}

/* Style pour l'icône dans les liens */
.navbar-nav .nav-link .material-icons {
  vertical-align: middle; /* Centrer l'icône verticalement avec le texte */
  font-size: 24px; /* Taille de l'icône */
  margin-right: 5px; /* Marge à droite de l'icône */
}

/* Style pour le bouton Toggle (hamburger) */
.navbar-toggler {
  background-color: #ffffff; /* Couleur du bouton hamburger */
  border: none; /* Pas de bordure */
}

/* Style pour la couleur de fond du menu déroulant */
.navbar-collapse {
  background-color: transparent; /* Couleur de fond du menu déroulant */
}

/* Style pour les liens dans le menu déroulant */
.navbar-collapse .navbar-nav .nav-link {
  font-weight: bold;
  color: #ffffff; /* Couleur du texte dans le menu déroulant */
}

/* Style pour le lien actif (par exemple, la page actuelle) */
.navbar-nav .nav-item.active .nav-link {
  background-color: #ffffff; /* Couleur de fond du lien actif */
  color: transparent; /* Couleur du texte du lien actif */
  border-radius: 5px; /* Coins arrondis pour le lien actif */
}
/* Style de base pour le footer */
footer {
  background-color: #7f7f7f; /* Couleur de fond du footer */
  color: #ffffff; /* Couleur du texte dans le footer */
  padding: 20px 0; /* Marge intérieure en haut et en bas */
  text-align: center; /* Centrer le texte horizontalement */
}

/* Style pour le texte du footer */
footer p {
  font-size: 14px; /* Taille de la police */
  margin: 0; /* Supprimer les marges par défaut */
}

/* Style pour les liens du footer */
footer a {
  color: #ffffff; /* Couleur du texte des liens dans le footer */
  text-decoration: none; /* Supprimer la soulignement des liens */
  margin: 0 10px; /* Marge à gauche et à droite entre les liens */
  font-size: 14px; /* Taille de la police */
  text-transform: uppercase; /* Mettre le texte en majuscules */
}

/* Style pour les liens du footer au survol */
footer a:hover {
  text-decoration: underline; /* Souligner les liens au survol */
}

/* Style pour les liens de la partie droite du footer */
.footer-right {
  float: right; /* Aligner les liens à droite du footer */
}

/* Style pour le séparateur entre les liens */
.footer-right::before {
  content: '|'; /* Ajouter un séparateur (barre verticale) entre les liens */
  margin: 0 10px; /* Marge à gauche et à droite du séparateur */
  font-size: 14px; /* Taille de la police du séparateur */
}
.pacc {
  position: fixed;
  bottom: 0; /* le placer en bas de la fenêtre */
  right: 0;
}
