@charset "UTF-8";
footer {
  background-color: #5e493a;
  color: #ffffff;
  text-align: center;
  font-size: 0.5cm;
}
.custom-bg {
  background-color: #5e493a;
}
.custom-color {
  color: white !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Ajustez la taille de l'icône selon vos besoins */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.align-center {
  display: flex;
  align-items: center;
}
body {
  background: url('src/assets/cadeau/acceuila.webp');
  background-size: cover;
}
.eight h1 {
  text-align: center;

  font-size: 26px;
  letter-spacing: 1px;
}

section {
  background: url('src/assets/cadeau/acceuila.webp');
  background-size: cover;
}

.button {
  display: inline-block;
  background-color: #9b786f;
  color: #f8f4f0;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.button:hover {
  background-color: #725843;
}
