body {
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-image: url('https://static6.depositphotos.com/1038117/598/i/600/depositphotos_5981198-stock-photo-tea-plantation-cameron-highlands-malaysia.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}


.custom-bg {
  background-color: #5e493a;
}

.arrieer {
  background-image: url('https://static6.depositphotos.com/1038117/598/i/600/depositphotos_5981198-stock-photo-tea-plantation-cameron-highlands-malaysia.jpg');
  background-size: cover;
}

.custom-bgb {
  background-color: red;
}

.titre {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

h1 {
  font-size: auto;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

h1 span {
  padding: 3.7px;
}
.custom-bgb {
  background-color: red;
}

.header-button:hover {
  background-color: #c0392b;
}

.custom-box-shadow {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.custom-box-shadow1 {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.custom-box-shadow2 {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

h1 span.active {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
}

footer {
  background-color: #5e493a;
  color: #ffffff;
  text-align: center;
  font-size: 0.5cm;
}

.header-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-button:hover {
  background-color: #c0392b;
}

.comm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-90 {
  color: #fff;
  padding: 35px 45px;
  border-radius: 100px;
  background-color: #11a875;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.card {
  background-color: #ffebb3;
  width: auto;
  height: auto;

  border-radius: 1rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.card:hover {
  background-color: #ffd86b;
  transform: translateY(-50px) rotate(-5deg);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}

.card .card-header,
.card .card-body {
  padding: 0 2rem;
}

.card .card-header h4 {
  font-family: 'Libre Baskerville';
}

.card .card-body a {
  font-family: 'Raleway';
}
.pricing-header {
  margin-top: 5rem;
}

.card1 {
  background-color: #ffebb3; /* Couleur de fond de la carte */
  width: 20rem; /* Largeur de la carte */
  margin: 0 auto; /* Centre la carte horizontalement */
  border-radius: 1rem; /* Bordure arrondie de la carte */
  box-shadow: 0 0 5rem rgba(34, 74, 59, 0.3); /* Ombre portée de la carte */
  transition: 0.4s; /* Effet de transition au survol de la carte */
}

.card1:hover {
  background-color: #f5f5f5; /* Couleur de fond au survol de la carte */
  transform: translateY(-10px); /* Légère translation vers le haut au survol */
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5); /* Ombre portée plus prononcée au survol */
}

.card1 .card-header {
  background-color: #11a875; /* Couleur de fond de l'en-tête de la carte */
  padding: 1rem; /* Espacement intérieur de l'en-tête de la carte */
  border-bottom: 1px solid #dee2e6; /* Bordure inférieure de l'en-tête de la carte */
}

.card1 .card-header1 {
  background-color: #34cd26; /* Couleur de fond de l'en-tête de la carte */
  padding: 1rem; /* Espacement intérieur de l'en-tête de la carte */
  border-bottom: 1px solid #dee2e6; /* Bordure inférieure de l'en-tête de la carte */
}
.card1 .card-body {
  padding: 1rem; /* Espacement intérieur du corps de la carte */
}

.card1 .card-body ul {
  list-style: none; /* Supprime les puces de la liste à puce */
  padding: 0;
}

.card1 .card-body ul li {
  margin-bottom: 0.5rem; /* Espacement entre les éléments de la liste */
}

/* Style pour le message "Vous n'avez pas encore joué." */
.card1 .card-body p {
  margin: 0;
}
