<!DOCTYPE html>
<html lang="en">
  <meta name="keywords" content="concours de thé, jeu de thé, thé, concours" />
  <meta
    name="description"
    content="Participez à notre jeu de concours de thé pour gagner des cadeaux incroyables."
  />
  <title>The Tip Top</title>

  <body class="text-center cover">
    <header class="navbar navbar-expand-lg navbar-light custom-bg">
      <div class="container">
        <h1 class="navbar-brand">
          <span class="active">Introduction</span>
          <span>--&gt;</span>
          <span>Etape 1</span>
          <span>--&gt;</span>
          <span>Etape 2</span>
        </h1>
        <button class="btn btn-primary custom-bgb" (click)="onhome()">
          Déconnexion
        </button>
      </div>
    </header>
 
    <div class="arrieer" cover-container d-flex h-100 p-3 mx-auto flex-column>
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="lead">
          <div class="card1 mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">
                Salut, {{ userName }}, voici votre historique de vos gains.
              </h4>
            </div>
            <div class="card-body">
              <ng-container *ngIf="autreVariable.length > 0; else noItems">
                <ul>
                  <li *ngFor="let item of autreVariable">{{ item }}</li>
                </ul>
              </ng-container>
              <ng-template #noItems>
                <p>Vous n'avez pas encore joué.</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 custom-box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Bienvenue</h4>
            </div>
            <div class="card-body">
              <a>
                Bienvenue à ce jeu concours. Le but de ce site est de récupérer
                vos gains et l'explication du jeu se trouve sur les autres
                étapes.</a
              >
            </div>
          </div>
          <div class="card mb-4 custom-box-shadow1">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Etape1</h4>
            </div>
            <div class="card-body">
              <a>
                Chers clients, vous devez chercher votre ticket de boutique.
                Ensuite, vous devez trouver un numéro que vous devrez taper sur
                la prochaine page..
              </a>
            </div>
          </div>
          <div class="card mb-4 custom-box-shadow2">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Etape 2</h4>
            </div>
            <div class="card-body">
              <a>
                Vous devez choisir un seul cadeau parmi les 5 cadeaux. Ensuite,
                vous verrez votre cadeau.</a
              >
            </div>
          </div>
        </div>
        <div
          class="comm d-flex justify-content-center align-items-center"
          style="height: 50vh"
        >
          <button class="button-90" (click)="onSubmit()">
            <span>Commencer !</span>
          </button>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="footer-left">
          <a>&copy; 2023 Entreprise de ThéTopTop. Tous droits réservés.</a>
        </div>

        <div class="footer-right">
          <a>
            Politique de confidentialité | Mentions légales | Politique des
            cookies
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
