@charset "UTF-8";
header {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Styles pour la section avec les tickets */
div {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Styles pour le footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
p {
  text-align: center;
}
.decoo {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.decoo2 {
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}
.decoo2.collected {
  background-color: #00ff00; /* Couleur de fond pour "Collecté" */
}

/* Style lorsque l'état est "Non collecté" */
.decoo2.not-collected {
  background-color: #ff0000; /* Couleur de fond pour "Non collecté" */
}
.decoo:hover {
  background-color: #c0392b;
}
.clientt {
  float: left;
  width: 50%;
}

.ticketts {
  float: right;
  width: 50%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
h2 {
  font-size: 48px;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}
