<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="CPtOlyJBe7Rh7EvyyM6tCRhLoe2dFp62XMttDciBZYU"
    />
    <meta
      name="keywords"
      content="concours de thé, jeu de thé, thé, concours"
    />
    <meta
      name="description"
      content="Participez à notre jeu de concours de thé pour gagner des cadeaux incroyables."
    />
    <title>Concours de Thé - Gagnez des Prix Incroyables avec Thethiptop</title>
  </head>
  <body>
    <div class="dixhui">
      <a
        class="inpes-link"
        href="http://www.joueurs-info-service.fr"
        target="_blank"
        data-tracking-click="header::joueurs-info-service"
      >
        <p class="inpes-text">
          Jouer comporte des risques : endettement, isolement, dépendance.
          <br class="pacc" />Pour être aidé, appelez le 09 74 75 13 13
          <span>(appel non surtaxé)</span>
        </p>

        <span class="age-warning">
          <img
            class="age-warning_logo"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3xSGC3rOzGqrhQLYVNQA7bWkILDZZp81yWPsfOjvtXbeSLX0AXGXoLVFO2Ja2OiibYgI&usqp=CAU"
            width="25px"
            height="25px"
          />
        </span>
      </a>
    </div>

    <main>
      <nav class="navbar navbar-expand-lg navbar-light custom-bg">
        <div class="container">
          <a
            class="navbar-brand custom-color"
            href="/#/debut"
            style="color: #ffffff"
          >
            <i class="material-icons">sports_esports</i>&nbsp;&nbsp;Jeu Concours
            de Thé</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link custom-color align-center"
                  style="cursor: grab"
                  (click)="onLog()"
                >
                  <i class="material-icons">person</i>&nbsp;&nbsp;Se
                  connecter</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link custom-color align-center"
                  style="cursor: grab"
                  (click)="onInsc()"
                >
                  <i class="material-icons">person_add</i
                  >&nbsp;&nbsp;Inscription</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link custom-color align-center"
                  style="cursor: grab"
                  (click)="onabout()"
                >
                  <i class="material-icons">info</i>&nbsp;&nbsp;À propos</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carouselpr">
                <div class="containera">
                  <div
                    class="row mt-4"
                    style="/* width: 100%; */ padding: 30px"
                  >
                    <div class="col-lg-8">
                      <h1 class="styleh">JEUX DE CONCOURS</h1>
                      <p style="font-size: 1.5rem">
                        Rejoignez notre jeu concours chez ThéTipTop pour
                        célébrer l'ouverture de notre 10ème boutique ! Chaque
                        achat supérieur à 49€ vous donne un ticket gagnant,
                        offrant une chance de remporter des infuseurs à thé, des
                        thés détox, des coffrets découverte et bien plus.
                      </p>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="card"
                        style="
                          background-color: #f8f8f8c7;

                          border-radius: 45px;
                        "
                      >
                        <div class="card-body">
                          <h5 class="card-title" style="font-size: 1.5rem">
                            Tentez votre chance dès maintenant !!!
                          </h5>
                          <form>
                            <div class="mb-3">
                              <label for="email" class="form-label"
                                >E-mail</label
                              >
                              <input
                                type="email"
                                class="form-control"
                                id="email"
                                placeholder="Saisissez votre e-mail"
                              />
                            </div>
                            <button
                              type="submit"
                              (click)="onInsc()"
                              class="btn btn-primary"
                            >
                              Créer un compte
                            </button>
                          </form>
                          <p class="mt-3">
                            Déjà inscrit ? <a href="/#/login">Connectez-vous</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <section class="contest-info">
              <div>
                <h2>Comment Participer</h2>
                <ul>
                  <li>
                    Pour vous joindre à l'aventure, munissez-vous simplement
                    d'un ticket de caisse ou d'une facture excédant 49€,
                    arborant un numéro à 10 chiffres.
                  </li>
                  <li>
                    Laissez-vous emporter pendant 30 jours d'excitation et de
                    suspense.
                  </li>
                  <li>
                    Un maximum de 1 500 000 tickets sera généreusement réparti.
                  </li>
                </ul>
              </div>

              <div>
                <h2>Distribution des Tickets</h2>
                <ul>
                  <li>
                    Chaque ticket est une promesse de victoire, détaillée comme
                    suit :
                    <ul>
                      <li>60% offrent un élégant infuseur à thé.</li>
                      <li>
                        20% réservent une boîte de 100g d’un thé détox ou
                        d’infusion.
                      </li>
                      <li>
                        10% vous dévoilent une boîte de 100g d’un thé signature.
                      </li>
                      <li>
                        6% vous font découvrir un coffret découverte d’une
                        valeur de 39€.
                      </li>
                      <li>
                        4% vous offrent l'expérience exceptionnelle d'un coffret
                        découverte d’une valeur de 69€.
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div>
                <h2>Utilisation du Ticket</h2>
                <p>
                  Explorez votre chance en testant votre numéro sur notre site
                  dans les 30 jours suivant la clôture, et gagnez en magasin ou
                  en ligne.
                </p>
                <h2>Règlement et Contrôle</h2>
                <p>
                  Les règles du jeu et les détails ont été déposés entre les
                  mains expertes de Maître Arnaud Rick, huissier de justice. Le
                  tirage au sort du gros lot sera également effectué sous sa
                  surveillance attentive.
                </p>
              </div>

              <div>
                <h2>Conditions d'utilisation</h2>
                <ul>
                  <li>
                    Chaque ticket révèle ses mystères une seule fois. Réclamez
                    vos gains intermédiaires en magasin ou en ligne.
                  </li>
                  <li>
                    À la fin de cette aventure, un tirage au sort parmi tous les
                    participants décidera du chanceux qui remportera un an de
                    thé d’une valeur de 360€.
                  </li>
                  <li>
                    Pour le tirage au sort du gros lot, sachez que le nombre de
                    participations n'accroît pas les chances de victoire. Tous
                    les tickets, couronnés de succès pour les lots
                    intermédiaires, font de chaque participation une progression
                    vers plus de récompenses.
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="footer-left">
          <p>&copy; 2023 Entreprise de ThéTopTop. Tous droits réservés.</p>

          Politique de confidentialité | Mentions légales | Politique des
          cookies
        </div>
      </div>
    </footer>
  </body>
</html>
