<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="concours de thé, jeu de thé, thé, concours"
    />
    <meta
      name="description"
      content="Participez à notre jeu de concours de thé pour gagner des cadeaux incroyables."
    />
    <link
      rel="canonical"
      href="http://thethiptopkhalidabouelaiz.eu:4200/regledejeux"
    />

    <title>The Tip Top</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light custom-bg">
    <div class="container">
      <a
        class="navbar-brand custom-color"
        style="color: #ffffff"
        href="/#/debut"
      >
        <img
          src="../../assets/cadeau/teaa.png"
          alt="Logo de thé "
          style="width: 40px; height: 40px; margin-right: 10px"
        />
        Thé Tip Top</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link custom-color align-center"
              (click)="ondebut()"
              href="/#/debut"
            >
              <i class="material-icons">home</i>&nbsp;&nbsp;Accueil</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link custom-color align-center"
              style="cursor: grab"
              (click)="onabout()"
              href="/#/aboutUS"
            >
              <i class="material-icons">info</i>&nbsp;&nbsp;À propos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link custom-color align-center"
              (click)="onRegister()"
              href="/#/sign-up"
            >
              <i class="material-icons">person_add</i>&nbsp;&nbsp;Inscription</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link custom-color align-center"
              href="/#/login"
              (click)="onLogin()"
            >
              <i class="material-icons">person</i>&nbsp;&nbsp;Se connecter</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
    <section class="contest-info">
      <div class="containera">
        <h1>Règlement du Jeu-Concours "ThéTipTop"</h1>

        <article>
          <h2>Article 1 - Organisation du Jeu</h2>
          <p>
            La société ThéTipTop organise un jeu-concours sans obligation
            d'achat intitulé "ThéTipTop".
          </p>
        </article>

        <article>
          <h2>Article 2 - Conditions de Participation</h2>
          <p>
            La participation au jeu-concours est ouverte à toute personne
            physique majeure résidant en France métropolitaine. Les membres du
            personnel de ThéTipTop ainsi que toute personne ayant contribué à
            l'organisation du jeu sont exclus de la participation.
          </p>
        </article>

        <article>
          <h2>Article 3 - Modalités de Participation</h2>
          <p>
            Pour participer, le participant doit être en possession d'un ticket
            de caisse ou d'une facture d'achat d'un montant supérieur à 49€ dans
            l'une des boutiques ThéTipTop participantes. Le numéro à 10 chiffres
            présent sur le ticket permettra au participant de s'inscrire sur le
            site dédié au jeu-concours.
          </p>
        </article>

        <article>
          <h2>Article 4 - Interdictions</h2>
          <p>
            Il est formellement interdit de :
            <br />
            a. Utiliser des informations fausses lors de l'inscription.
            <br />
            b. Tenter de manipuler le résultat du jeu-concours.
            <br />
            c. Participer avec plusieurs comptes ou sous plusieurs identités.
          </p>
        </article>

        <article>
          <h2>Article 5 - Dotations</h2>
          <p>
            Tous les participants recevront un lot. La répartition des gains est
            détaillée dans l'article 4 du règlement.
          </p>
        </article>

        <article>
          <h2>Article 6 - Tirage au Sort</h2>
          <p>
            Un tirage au sort sera effectué pour déterminer le gagnant du gros
            lot. La participation multiple n'accroît pas les chances de gagner
            ce lot.
          </p>
        </article>

        <article>
          <h2>Article 7 - Retrait des Lots</h2>
          <p>
            Les participants pourront consulter l'historique de leurs gains sur
            le site du jeu-concours. Les lots pourront être retirés en magasin
            ou réclamés en ligne dans les 30 jours suivant la clôture du jeu.
          </p>
        </article>

        <article>
          <h2>Article 8 - Données Personnelles</h2>
          <p>
            Les données personnelles collectées lors de l'inscription seront
            utilisées uniquement dans le cadre du jeu-concours. Les participants
            autorisent ThéTipTop à utiliser ces données à des fins d'emailing,
            conformément à la réglementation en vigueur.
          </p>
        </article>

        <article>
          <h2>Article 9 - Responsabilités</h2>
          <p>
            ThéTipTop décline toute responsabilité en cas de dysfonctionnement
            du site internet ou pour tout problème technique indépendant de sa
            volonté.
          </p>
        </article>

        <article>
          <h2>Article 10 - Consultation du Règlement</h2>
          <p>
            Le règlement du jeu-concours est disponible sur le site internet
            dédié.
          </p>
        </article>
      </div>

      <footer>
        <div class="container">
          <div class="footer-left">
            <p>&copy; 2023 Entreprise de ThéTopTop. Tous droits réservés.</p>

            <div class="links">
              <a href="/#/politique" class="btn-link" target="_blank"
                >Politique de confidentialité</a
              >
              |
              <a href="/#/mentionlegal" class="btn-link" target="_blank"
                >Mentions légales</a
              >
              |
              <a href="/#/cookies" class="btn-link" target="_blank"
                >Politique des cookies</a
              >
              |
              <a href="/#/reglement" class="btn-link" target="_blank"
                >Règlement</a
              >
            </div>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
